<div id="sidebar-nav" class="well sidebar-nav">
	<div id="nav-list">
		<ul class="nav nav-list">
			<li class="nav-header" data-toggle="collapse" data-target="#nav-1" >
				日程管理
			</li>
			<div id="nav-1" class="collapse in">
				<li>
					<a id="recent-activity" href="#"><i class="icon-th-list icon"></i>近期日程</a>
				</li>
				<li>
					<a href="#"><i class="icon-th-list icon"></i>未完成任务</a>
				</li>
				<li>
					<a><i class="icon-th-list icon"></i>定期提醒</a>
				</li>
			</div>
			<li class="divider"></li>
			
			<li data-toggle="collapse" data-target="#nav-my-book" class="nav-header">
				我的日历本
			</li>
			<div id="nav-my-book" class="collapse in">
				<li class="book">
					<a><i class="book-icon icon"></i><span class="book-name"></span></a>
				</li>
			</div>
			<li class="divider"></li>
			
			<li data-toggle="collapse" data-target="#nav-subscribe" class="nav-header">
				我的订阅
			</li>
			<div id="nav-subscribe" class="collapse in">
			</div>
			
		<ul>
	</div>
</div>