<div id="headbar" class="headbar">
	<div class="logo">
		<a href="/calendar"></a>
	</div>
	<div class="searchbar">
	</div>
	<div class="personinfo">
		<ul class="dropdownlist">
			<li class="dropdown" id="setting">
				<a href="#" class="menu">个人设置</a>
				<div class="hidden dropdownbox">
					<ul>
						<li><a href="">资料修改</a></li>
						<li><a href="">密码修改</a></li>
					</ul>
				</div>
			</li>
			<li class="dropdown">
				<a href="#">更多</a>
			</li>
		</ul>
	</div>
	<div class="menubar">
		
	</div>
</div>