<div id="intro-main" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img class="intro-img"src="{{ STATIC_URL }}img/main1.png"></img>
			<div class="carousel-caption">
				<p>你能够在这里记录你生活的每一件事</p>
			</div>
		</div>
		<div class="item">
			<img class="intro-img"src="{{ STATIC_URL }}img/main2.png"></img>
			<div class="carousel-caption">
				<p>你还可以与您的移动设备进行同步，无需担心数据的丢失</p>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#intro-main" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#intro-main" data-slide="next">›</a>
</div>
